
*.lst
*.class
FinalProject/out/artifacts/FinalProject_Web_exploded/WEB-INF/web.xml
FinalProject/out/artifacts/FinalProject_Web_exploded/WEB-INF/classes/log4j.properties
FinalProject/out/artifacts/FinalProject_Web_exploded/usersView/moderator/rooms/rooms.jsp
FinalProject/out/artifacts/FinalProject_Web_exploded/usersView/moderator/home/home.jsp
FinalProject/out/artifacts/FinalProject_Web_exploded/usersView/client/rooms/rooms.jsp
FinalProject/out/artifacts/FinalProject_Web_exploded/usersView/client/home/home.jsp
FinalProject/out/artifacts/FinalProject_Web_exploded/usersView/admin/rooms/rooms.jsp
FinalProject/out/artifacts/FinalProject_Web_exploded/usersView/admin/home/home.jsp
FinalProject/out/artifacts/FinalProject_Web_exploded/META-INF/MANIFEST.MF
FinalProject/out/artifacts/FinalProject_Web_exploded/auth/signUpSucc.jsp
FinalProject/out/artifacts/FinalProject_Web_exploded/auth/signUpPage.jsp
FinalProject/out/artifacts/FinalProject_Web_exploded/auth/signUpError.jsp
FinalProject/out/artifacts/FinalProject_Web_exploded/auth/logOut.jsp
FinalProject/out/artifacts/FinalProject_Web_exploded/auth/logInPage.jsp
FinalProject/out/artifacts/FinalProject_Web_exploded/auth/logInError.jsp
FinalProject/out/artifacts/FinalProject_Web_exploded/auth/authPage.jsp
FinalProject/target/maven-archiver/pom.properties
FinalProject/target/FinalProject-1.0-SNAPSHOT.jar
FinalProject/target/classes/log4j.properties
FinalProject/target/classes/application.properties
FinalProject/out/artifacts/FinalProject_Web_exploded/WEB-INF/classes/application.properties
FinalProject/logs.log
FinalProject/FinalProject.iml
FinalProject/.idea/vcs.xml
FinalProject/.idea/uiDesigner.xml
FinalProject/.idea/modules.xml
FinalProject/.idea/misc.xml
FinalProject/.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_26.xml
FinalProject/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_26.xml
FinalProject/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_02.xml
FinalProject/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_8_0_M1.xml
FinalProject/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_8_0_M1.xml
FinalProject/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_8_0_M12.xml
FinalProject/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_8_0_M12.xml
FinalProject/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_8_0_M1.xml
FinalProject/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_8_0_M1.xml
FinalProject/.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_4_20.xml
FinalProject/.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_4_20.xml
FinalProject/.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_common_1_4_20.xml
FinalProject/.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_1_4_20.xml
FinalProject/.idea/libraries/Maven__org_jetbrains_annotations_13_0.xml
FinalProject/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
FinalProject/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_1.xml
FinalProject/.idea/libraries/Maven__mysql_mysql_connector_java_8_0_23.xml
FinalProject/.idea/libraries/Maven__log4j_log4j_1_2_12.xml
FinalProject/.idea/libraries/Maven__junit_junit_4_13_2.xml
FinalProject/.idea/libraries/Maven__javax_servlet_javax_servlet_api_4_0_1.xml
FinalProject/.idea/libraries/Maven__com_google_protobuf_protobuf_java_3_11_4.xml
FinalProject/.idea/jarRepositories.xml
FinalProject/.idea/FinalProject.iml
FinalProject/.idea/dataSources.xml
FinalProject/.idea/compiler.xml
FinalProject/.idea/artifacts/FinalProject_Web_exploded.xml
.idea/workspace.xml
