.form-row {
    position: relative;
    margin:10px 40%;
}

.form-row input[type="submit"] {
    width: 100%;
    padding: 0;
    line-height: 42px;
    background: #5555aa;
    border-width: 0;
    color: antiquewhite;
    font-size: 20px;
    margin: 10px;
}

.form-row input[type = "submit"]:hover{
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.form-row select,.form-row input[type="number"],.form-row input[type="date"], .form-row input[type="text"]{
    margin: 10px;
    background-color: #eee;
    vertical-align: top;
    outline: none;
    padding: 0;
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    font-size: 14px;
    border-radius: 3px;
}

.form-row input[type="number"]:focus {
    outline: 2px antiquewhite;
}


.form-row b{
    color: antiquewhite;
    font-weight: bold;
    font-size: 17px;
    margin: 5px 0 0 13px;
}