*{
	font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}
body{
    background: rgb(52, 56, 61);
	margin:0;
}

h1{
	color: antiquewhite;
	width: 100%;
	text-align: center;
	margin: 90px auto;
}

.page{
	overflow:hidden;
	display:flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
	box-sizing: border-box;
	min-height: 100%;
}

.content p{
	float: left;
	font-weight: 100;
	width: 100%;
	font-size: 17px;
	margin-top: 5px;
}

.content h2{
	line-height: 140%;
	font-weight: 100;
	color: white;
	font-weight: 100;
}
