
@import url(http://fonts.googleapis.com/css?family=Lato:400,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora);

*{
	font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}
body{
    background: rgb(52, 56, 61);
}

h1{
	color: antiquewhite;
	width: 100%;
	text-align: center;
	margin: 90px auto;
}

/*=== links1 === */
.s1 {
	color: antiquewhite;
	line-height: 1.2;
	position: relative;
	padding: 0 14px;
	text-transform: uppercase;
	text-decoration: none;
}

.s1:after {
	content: "";
	height: 100%;
	min-width: 4px;
	background: #34495e;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: all 0.5s;
}

.s1:hover:after {
	min-width: 100%;
	background: #95a5a6;
	opacity: 0.35;
}

/*=== links2 ===*/
.s2 {
	color: antiquewhite;
	line-height: 1.2;
	position: relative;
	padding: 0 14px;
	text-transform: uppercase;
	text-decoration: none;
	left: 460px;
}

.s2:after {
	content: "";
	height: 100%;
	min-width: 4px;
	background: #34495e;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: all 0.5s;
}

.s2:hover:after {
	min-width: 100%;
	background: #95a5a6;
	opacity: 0.35;
}


/* === Header === */
ul {
	list-style: none;
	margin: 0 auto;
}
a {
	text-decoration: none;
	font-family: 'Lora', serif;
	transition: .5s linear;
}
i {
	margin-right: 10px;
}
nav {
	display: block;
	width: 100%;
	margin: 0 auto 30px;
}
.one ul {
	padding: 1em 0;
	background: #5555aa;
}
.one a {
	padding: 1em;
	background: #5555aa;
	border-right: #5555aa;
	color: antiquewhite;
}
.one a:hover {background: #b19891;}
.one li {
	display: inline;
}


/* === Input === */
.form-row {
	position: relative;
	margin:10px 40%;
}

.form-row input[type="submit"] {
	width: 100%;
	padding: 0;
	line-height: 42px;
	background: #5555aa;
	border-width: 0;
	color: antiquewhite;
	font-size: 20px;
	margin: 10px;
}

.form-row input[type = "submit"]:hover{
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

.form-row select,.form-row input[type="number"],.form-row input[type="date"]{
	margin: 10px;
	background-color: #eee;
	vertical-align: top;
	outline: none;
	padding: 0;
	height: 40px;
	line-height: 40px;
	text-indent: 10px;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ddd;
	font-size: 14px;
	border-radius: 3px;
}

.form-row input[type="number"]:focus {
	outline: 2px antiquewhite;
}


.form-row b{
	color: antiquewhite;
	font-weight: bold;
	font-size: 17px;
	margin: 5px 0 0 13px;
}
