/* === Table === */
.Table table {
    border: 1px solid grey;
    border-collapse: collapse;
    margin: 20px auto;
    width:-webkit-max-content;
}

.Table form{
    margin-block-end: 0;
}

.Table th {
    border: 1px solid grey;
}
.Table td {
    border: 1px solid grey;
    text-align: center;
    font-size:17px;
    color: aliceblue;
}

.Table tr{
    background:#1570a1;
}

.Table caption{
    font-weight: bold;
    font-size: 2em;
    padding: 10px;
    color: #4ba5d6;
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
}

.Table b {
    font-weight: bold;
    font-size: 17px;
}

.Table input[type="submit"] {
    width: 100px;
    padding: 0;
    line-height: 25px;
    background: #bd738d;
    border-width: 0;
    color: aliceblue;
    font-size: 17px;
    margin: 1px auto;
}

.Table input[type="submit"]:hover{
    color: antiquewhite;
    text-shadow: 0 0 10px rgb(0, 126, 165);
}

.Table input[type="email"], .Table input[type="text"], .Table select, .Table input[type="number"] {
    margin: 10px;
    background-color: #eee;
    vertical-align: top;
    outline: none;
    padding: 0;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    width: -webkit-max-content;
    box-sizing: border-box;
    border: 1px solid #ddd;
    font-size: 14px;
    border-radius: 3px;
}

.Table input[type ="number"],input[type="email"], .Table input[type="text"]{
    text-indent: 10px;
}

.Table select{
    text-indent: 1px;
}